﻿@model  List<EZY.RMAS.Contract.MaterialsEnquiryDetailsDTO>
@{
    ViewBag.Title = "MaterialsEnquiry";
}
@section seccss{
    @*<link href="@Url.Content("~/Css/datepicker3.css")" rel="stylesheet" />*@
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.css" rel="stylesheet">
    <style type="text/css">
        h4, .h4, h5, .h5, h6, .h6 {
            margin-top: 2px;
            margin-bottom: 2px;
        }
    </style>
}


@using (Html.BeginForm("FindSerialNoStatus", "Invoice", FormMethod.Post, new { id = "frmVendorRMA", name = "frmVendorRMA" }))
{
    <section class="content">
        <div class="box box-default">
            <div class="box-header with-border">
                <div class="row">
                    <section class="content-header">
                        <ol class="breadcrumb">
                            <li><a href='@Url.Content("~/Home/Index")'><i class="fa fa-dashboard"></i> Home</a></li>
                           @*<li><a href='@Url.Content("~/Home/Index")'>Modules</a></li>*@
                            <li><a href='@Url.Content("~/Home/Transactions")'> Transactions</a></li>
                            <li class="active"><i class="fa fa-list-alt" aria-hidden="true"></i>&nbsp;Materials Enquiry</li>
                        </ol>
                    </section>
                </div>
            </div>
            <div class="box-body">

                <div class="row css10">
                    <div class="col-md-3">
                        <label class="control-label pull-right">SerialNo's Status</label>
                        @*</div>
                            <div class="col-md-3">
                                @Html.TextAreaFor(x => x.CustomerAddress, new { @class = "form-control input-sm", placeholder = "Customer Address" })*@
                    </div>
                    <div class="col-md-2">
                        <input id="fileupload" type="file" name="file" onchange="fileChanged(this)" />
                    </div>
                    <div class="col-md-1">
                        <button type="button" id="scanBtn"
                                class="btn btn-primary btn-sm"
                                onclick="ScanSerialNo()">
                            <i class="fa fa-barcode" aria-hidden="true"></i>&nbsp;Scan
                        </button>
                    </div>
                </div>
                @if (Model.Count != 0)
                {
                    <div class="row css10">
                        <div class="col-md-12">
                            <table class="table table-striped table-bordered">
                                <thead style="background-color:#3c8dbc;color:white">
                                    <tr>
                                        <th>Sl No.</th>
                                        <th>Serial No</th>
                                        <th>Vendor Warranty Expiry Date</th>
                                        <th>Customer Warranty Expiry Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (var i = 0; i < Model.Count(); i++)
                                    {
                                        <tr id="@(i+1)">
                                            <td width="10%">
                                                @(i + 1)
                                            </td>
                                            <td>
                                                @Model[i].SerialNo
                                            </td>
                                            <td>
                                                @if (Model[i].VendorExpiryDate != null)
                                                {
                                                    @Model[i].VendorExpiryDate
                                                }
                                                @if (Model[i].VendorExpiryDate != null)
                                                {
                                                    if (Model[i].VendorIsValid)
                                                    {
                                                        <h5><span id="RMAspvalid" class="label label-success">Valid</span></h5>
                                                    }
                                                    else
                                                    {
                                                        <h5><span id="RMAspinvalid" class="label label-danger isinvalid">Invalid</span></h5>
                                                    }
                                                }
                                            </td>
                                            <td width="25%">
                                                @if (Model[i].CustomerExpiryDate != null)
                                                {
                                                    @Model[i].CustomerExpiryDate
                                                }
                                                @if (Model[i].CustomerExpiryDate != null)
                                                {
                                                    if (Model[i].CustomerIsvalid)
                                                    {
                                                        <h5><span id="spvalid" class="label label-success">Valid</span></h5>
                                                    }
                                                    else
                                                    {
                                                        <h5><span id="spinvalid" class="label label-danger isinvalid">Invalid</span></h5>
                                                    }
                                                }
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                }
            </div>
            <div class="box-footer">
                <div class="row">
                    <div class="col-md-12">
                        <button class="btn btn-default btn-sm pull-right" type="button" onclick="location.href = '@Url.Content("~/Home/Transactions")'"><i class="fa fa-backward"></i>&nbsp;Back</button>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <div id="RMADetailDiv">
    </div>
}



<div id="ScanProductsModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Scan Products</h4>
            </div>
            <div class="modal-body" id="ProductModalBody">
                <div class="row" style="margin-bottom:10px;">
                    <div class="col-md-2">
                        <label class="control-label pull-right">Serial Nos</label>
                    </div>
                    <div class="col-md-10">
                        <textarea class="form-control input-sm" rows="10" id="serialNos" name="serialNos"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="SaveSerialsNo()" class="btn btn-danger btn-frmt green btn-sm">
                    <i class="fa fa-floppy-o"></i>&nbsp;Process
                </button>
                <button type="reset" class="btn btn-default btn-frmt btn-sm" data-dismiss="modal">
                    <i class="fa fa-times"></i>Cancel
                </button>
            </div>
        </div>
    </div>
</div>
<script src="@Url.Content("~/Scripts/moment.min.js")"></script>
<script src="@Url.Content("~/Scripts/bootstrap-datetimepicker.js")"></script>
<script type="text/javascript">
    $(function () {
        //$('#CustomerAddress').html("Changi North Street 1,Singapore-498789");
        var length = $('.isinvalid').length;
        if (length >= 1) {
            $('#btnGenVendorRMA').attr('disabled', 'disabled');
        }
    });
    var i = 0;
    function DeleteSerial(id, serialNo) {
        alert("");
        ;
        var serialNoId = id - 1;
        var changeSerialNo = $('#rmaDetails_' + serialNoId + '__SerialNo').val('*****');
        $('#' + id).hide();
        var length = $('.isinvalid').length;
        length = length - (i++);
        if (length == 1) {
            $('#btnGenVendorRMA').removeAttr('disabled');
        }
    }

    function fileChanged(el) {
            var file = el.files[0];
            if (file != null) {
                $('#scanBtn').attr('disabled', 'disabled');
                $('#frmVendorRMA').submit();
            }
            else
                $('#scanBtn').removeAttr('disabled');
        }
    

    function SaveSerialsNo() {
        
        var serialNos = $('#serialNos').val().split(/\n/);

        var valuesSoFar = Object.create(null);
        var duplicateSerialNos = [];
        for (var i = 0; i < serialNos.length; ++i) {
            var value = serialNos[i];
            if (value in valuesSoFar)
                duplicateSerialNos.push(value);

            valuesSoFar[value] = true;
        }

        if (duplicateSerialNos && duplicateSerialNos.length > 0) {
            alert('Please Remove Duplicate Values of ' + duplicateSerialNos + '');
            return true;
        }

        var rmaDetailHtml = '';
        $.each(serialNos, function (index, item) {
            if (item != '') {
                rmaDetailHtml += '<input type="hidden" id="' + index + '__SerialNo" name="[' + index + '].SerialNo" value="' + item + '" />'
            }
        });
        $('#RMADetailDiv').html(rmaDetailHtml);
        $('#ScanProductsModal').modal('hide');
        if ($('#frmVendorRMA').valid()) {
            $('#frmVendorRMA').submit();
        }
    }
    function ScanSerialNo() {
        $('#ScanProductsModal').modal('show');
        setTimeout(function () {
            $('#serialNos').focus();
        }, 900);
    }
    function GenerateRMA() {

        if ($('#frmVendorRMA'))
            ;
        if (confirm("Are you sure ? You want to Generate Vendor RMA \nCountry: " + 'Singapore'
                  + "\nEmail: " + $('#EmailID').val() + "\nContact No: " + $('#ContactNo').val()
                  + "\nCustomer Address: " + $('#CustomerAddress').text())) {
            $('#frmVendorRMA').attr('action', '@Url.Content("~/RMA/GenerateVendorRMA")');
            $('#frmVendorRMA').submit();
        }
    }
</script>
}